# Rotate daily
daily

# Keep a week's worth
rotate 7

# Don't compress old files - we want them viewable in a browser
nocompress

# Truncate, instead of moving, files to avoid problems with apps
copytruncate

# Just ignore it if they're not there
missingok

# Extension should be .html so it is viewable in a browser
extension .html

# Rotate these files
